{% extends 'app/base.html' %}

{% block title %}Consultar categorias{% endblock %}

{% block table_title %}Categorias{% endblock %}

{% block table_content %}
    {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.nome }}</td>
            <td>{{ categoria.tipo }}</td>
            <td><a href="{% url 'update_categoria' categoria.id %}">Editar</a></td>
            <td><a href="{% url 'delete_categoria' categoria.id %}">Excluir</a></td>
        </tr>

        {% empty %}
            <p>Não há categorias cadastradas.</p>
    {% endfor %}
    <tr>
        <td colspan="4"><a href="{% url 'add_categoria' %}">Adicionar categoria</a></td>
    </tr>
{% endblock %}

{% block link %}categoria{% endblock %}
{% block link_name %}categoria{% endblock %}

{% block form %}
    {% comment %}{% endcomment %}
{% endblock %}