{% extends 'app/base.html' %}

{% block title %}Consultar despesas{% endblock %}

{% block table_title %}Despesas{% endblock %}

{% block table_content %}
    {% for despesa in despesas %}
        <tr>
            <td>{{ despesa.nome }}</td>
            <td>{{ despesa.valor }}</td>
            <td>{{ despesa.data|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ despesa.observacoes }}</td>
            <td>{{ despesa.categoria.nome }}</td>
            <td><a href="{% url 'update_despesa' despesa.slug %}" class="btn btn-warning">Editar</a></td>
            <td><a href="{% url 'delete_despesa' despesa.slug %}" class="btn btn-danger">Excluir</a></td>
        </tr>

        {% empty %}
            <p>Não há despesas cadastradas.</p>
    {% endfor %}
    <tr>
        <td colspan="7"><a href="{% url 'add_despesa' %}">Adicionar despesa</a></td>
    </tr>
{% endblock %}

{% block add_form %}
    {% comment %}
    {% endcomment %}
{% endblock %}

{% block button %}Filtrar{% endblock %}

{% block form_classes %}row row-cols-sm-auto g-3 align-items-center{% endblock %}

{% block script %}
    <script>
        document.querySelector('select').required = false;
        inputs = document.querySelectorAll('input');
        for (let input of inputs) {
            input.required = false;
        }
    </script>
{% endblock %}