{% extends 'app/base.html' %}

{% block title %}Login{% endblock %}

{% block account_buttons %}
    {% comment %}
    {% endcomment %}
{% endblock %}

{% block form_title %}Login{% endblock %}

{% block nav %}
    {% comment %}
    {% endcomment %}
{% endblock %}

{% block form_classes %}col-6 offset-md-3 mt-3{% endblock %}

{% block form_submit %}Entrar{% endblock %}

{% block cadastro %}
    <div class="col-6 offset-md-3 mt-3">
        <p>Ainda não é cadastrado?</p>
        <a class="btn btn-success" href="{% url 'cadastro' %}">Cadastre-se</a>
    </div>
{% endblock %}

{% block table %}
    {% comment %}
    {% endcomment %}
{% endblock %}