{% extends 'app/base.html' %}

{% block title %}Relatório mensal{% endblock %}

{% block table_header %}
    <th>Mês</th>
    <th>Ano</th>
    <th>Total de entradas</th>
    <th>Total de despesas</th>
    <th>Saldo final</th>
{% endblock %}

{% block table_content %}
    {% for relatorio in relatorio_mensal %}
        <tr>
            <td>{{ relatorio.mes }}</td>
            <td>{{ relatorio.ano }}</td>
            <td>{{ relatorio.total_entradas|floatformat:2 }}</td>
            <td>{{ relatorio.total_despesas|floatformat:2 }}</td>
            <td>{{ relatorio.saldo_final|floatformat:2 }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block form %}
    {% comment %}{% endcomment %}
{% endblock %}