{% extends 'app/base.html' %}

{% block title %}Consultar transações{% endblock %}

{% block table_title %}Transações{% endblock %}

{% block table_content %}
    {% for transacao in transacoes %}
        <tr>
            <td>{{ transacao.nome }}</td>
            <td>{{ transacao.valor }}</td>
            <td>{{ transacao.data|date:"SHORT_DATE_FORMAT" }}</td>
            {% if transacao.observacoes %}
                <td>{{ transacao.observacoes }}</td>
            {% else %}
                <td>Sem observações</td>
            {% endif %}
            <td>{{ transacao.categoria }}</td>
            <td><a href="{% url 'update_transacao' transacao.slug %}" class="btn btn-warning">Editar</a></td>
            <td><a href="{% url 'delete_transacao' transacao.slug %}" class="btn btn-danger">Excluir</a></td>
        </tr>

        {% empty %}
            <p>Não há transações cadastradas.</p>
    {% endfor %}
    <tr>
        <td colspan="7"><a href="{% url 'add_transacao' %}">Adicionar transação</a></td>
    </tr>
{% endblock %}

{% block form_classes %}row row-cols-lg-auto g-3 align-items-center justify-content-center{% endblock %}

{% block form_submit %}Filtrar{% endblock %}

{% block script %}
    <script>
        document.querySelector('select').required = false;
        inputs = document.querySelectorAll('input');
        for (let input of inputs) {
            input.required = false;
        }
    </script>
{% endblock %}